
<p>Dear {{ customer_name }},</p>
<p>We’ve created health-insurance quotes for you.</p>
<a href={{ quote_url }}>Click here to check them out!</a>
<p>If you’re having trouble with the above button, paste the following link in your browser:</p>
<a href={{ quote_url }}>{{ quote_url }}</a>
<p>Questions? Just respond to this email, we’re here to help!</p>
<p>All the best,</p>
<p>{{ assigned_to }}</p>
<p>
	<br>InsureNex
	<br><a href=“mailto:solutions@nexusadvice.com”>solutions@nexusadvice.com</a> | <a href=“http://www.nexusadvice.com”>www.nexusadvice.com</a> | Call us on 04 237 8294 or 04 237 8166
</p>