<p>Dear {{ customer_name }},</p>

<p>Congrats!</p>

<p>Please find below approval and let us know if we can proceed with the valuation process. In that case we will need the following docs:</p>

<p>
    <ul>
		<li>Memorandum of Understanding</li>
		<li>Property title deed</li>
		<li>Seller/s passport, Visa, EID (if any)</li>
		<li>Valuation payment slip (3,150 dhs)</li>
	</ul>
</p>

<p>Click <a href="https://crm1.insurenex.io{{ upload_url }}">this link </a> to upload your documents.</p>

<p>
	Thanks,<br>
	Nexus Insurance Brokers
</p>