/* Custom Check-boxes/Radios */

.checkbox-container {
    padding: 5px 35px;

    @include breakpoint(mobile-tablet) {
        padding: 5px 0px;
    }

    &.radio {
        padding-left: 52px;
    }

    input[type="radio"],
    input[type="checkbox"]{
        display: block;
        visibility: hidden;
        position: absolute;
    }

    label {
       position: relative;
    }

    /* Base styles for spans */
    span {
        &.checkbox::before,
        &.radio::before,
        &.checkbox::after,
        &.radio::after {
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            margin: auto;
        }
        &.radio:hover {
            cursor: pointer;
        }
        &.radio::before {
            left: -52px;
            width: 26px;
            height: 25px;
            background-color: #fcfcfc;
            border-radius: 50px;
            border: 1px solid #999;
        }
        &.radio::after {
            left: -48px;
            width: 16px;
            height: 17px;
            border-radius: 10px;
            background-color: #FFF;
            transition: left .25s, background-color .25s;
        }

        &.checkbox {
            height: 27px;
            display: inline-block;
            margin-left: 15px;
            @include breakpoint(mobile-tablet) {
                position: relative;
            }
        }

        &.checkbox::before {
            width: 30px;
            height: 30px;
            background-color: #FFF;
            left: -35px;
            box-sizing: border-box;
            border: 1px solid $field-border-color;
            box-shadow: 1px 0px 2px $field-border-color;
            transition: border-color .2s;
            border-radius: 5px;
        }
        &.checkbox::after {
            margin-top: 10px;
            transition: color .2s;
            background: url(../images/white-check-icon.svg) no-repeat top center;
            width: 17px;
            height: 17px;
            background-size: 80%;
        }
    }

    /* Radio buttons */
    input[type="radio"]:checked + label span.radio::after {
      left: -47px;
      background-color: $felix-color-primary;
    }

    /* Check-boxes */
    input[type="checkbox"]:checked + label span.checkbox::after {
        // color: $felix-color-primary;
    }

    input[type="checkbox"]:checked + label span.checkbox::before {
        background-color: $felix-color-primary;
    }

}

.heading-error span.checkbox:before {
    border: 1px solid $error-color;
}
