[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
"django-environ" = "*"
"psycopg2-binary" = "*"
ipython = "*"
ipdb = "*"
"boto3" = "*"
"django-storages" = "*"
pycountry = "*"
Pillow = "*"
phonenumbers = "*"
"django-js-reverse" = "*"
"django-role-permissions" = "*"
requests = "*"
"django-crispy-forms" = "*"
"django-dirtyfields" = "*"
"django-tenants" = "*"
django-anymail = "*"
twilio = "*"
django-url-shortening = "*"
pandas = "*"
oauthlib = "*"
requests-oauthlib = "*"
sentry-sdk = "*"
zeep = "*"
algoliasearch = "==1.20.0"
pyyaml = "*"
django-redis-cache = "==2.1.1"
django-ratelimit = "*"
sendgrid = "*"
postmarker = "*"
django-tinymce = "*"
docraptor = "*"
docspring = "==1.3.0"
celery = "==4.4.7"
typeform = "==1.1.0"
hellosign-python-sdk = "==4.0.0"
djangorestframework = "*"

[dev-packages]
django-debug-toolbar = "*"

[requires]
python_version = "3.6"
